.header {
  height: 50px;
  background-color: #ccc;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .8);
  display: flex;
  align-items: center;
  width: auto;
  white-space: nowrap;
  transition: padding .5s;
  padding-left: 35px;
  position: relative;
}

.nav-open .header {
  padding-left: 0px;
}

.page-title {
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 1px #777;
}

.github-icon {
  margin-left: auto;
  margin-right: 10px;
}

.small-screen-warning {
  display: none;

  background-color: rgb(245, 255, 240);
  margin: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #83ABFF;
  color: #97000E;
}

@media screen and (max-width: 1050px) {
  .small-screen-warning {
    display: block;
  }
}

main {
  padding-left: 15px;
  padding-right: 15px;
}

.menu-button {
  height: 24px;
  color: #1647FF;
  background-color: #EDFFF8;
  border: 1px solid #374DFF;
  border-radius: 5px;
  color: white;
  margin-left: 15px;
  cursor: pointer;
  width: 24px;
  transition: width .5s;
}

.nav-open .menu-button {
  width: 0;
  border: none;
}

.menu-button path, .nav-menu-button path {
  fill: #374DFF;
}

.content {
  transition: transform .5s;
  overflow: auto;
  height: 100vh;
  width: 100vw;
}
.nav-open.content {
  width: calc(100vw - 250px);
}

.nav-open {
  transform: translateX(250px);
}

.main-nav {
  z-index: 1;
  width: 250px;
  height: 100%;
  background-color: #999;
  position: absolute;
  box-shadow: inset -2px -2px 8px rgba(0, 0, 0, .8);
  transition: transform .5s;
  transform: translateX(-250px);
  overflow-y: visible;
}
.main-nav.nav-open {
  transform: translateX(0);
  overflow-y: auto;
}

.nav-menu-button {
  width: 24px;
  height: 24px;
  margin-left: 15px;
  cursor: pointer;
  position: fixed;
  transform: translateX(250px);
  transition-property: transform, background-color, border;
  transition-duration: .5s;
  border-radius: 5px;
  border: 1px solid #374DFF;
  background-color: rgba(233, 255, 244, 1);
}
.nav-open .nav-menu-button {
  transform: translateX(0);
  border: none;
  background-color: rgba(233, 255, 244, 0);
}

.nav-title {
  display: flex;
  align-items: center;
}
.menu-title, .menu-section-title {
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px 1px #777;
  margin-left: 45px;
}

.menu-section-title {
  font-size: 16px;
  margin-left: 10px;
}

.nav-list-container {
  display: flex;
  justify-content: center;
}

.operators-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.operators-list li {
  font-family: monospace;
  color: white;
  text-shadow: 1px 1px 1px #222;
  cursor: pointer;
  margin-bottom: 15px;
}
.operators-list input {
  margin-right: 10px;
}
